<div class="container" style="width: 1224px;">
  <div>
    <div>
      <div>
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Alterar visualização</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <div>
    <div class="chart">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Trocar posição</button>