<div style="width: 100% !important; text-align: center !important;">
  <div>
    <div>
      <div>
        <div>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)" style="width: 60% !important; height: auto !important; display: initial !important;"></canvas>
        </div>
        <button mat-button mat-raised-button color="primary" (click)="randomize()">Alterar visualização</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <div>
    <div class="chart" style="text-align: center !important; ">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend"
        style="width: 40% !important; height: auto !important; display: initial ;">
      </canvas>
      <canvas baseChart [data]="categoriaChartData" [labels]="categoriaChartLabels" [chartType]="categoriaChartType"
        [options]="categoriaChartOptions" [plugins]="categoriaChartPlugins" [colors]="categoriaChartColors"
        style="width: 40% !important; height: auto !important; display: initial !important;">
      </canvas>  
    </div>        
  </div>
</div>
<!-- <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Trocar posição</button> -->